<footer class="footer">
  <div style="font-size: 0.9rem; margin-bottom: 10px">
    <h1>SECRETARIA DE SAÚDE</h1>
    <p>Endereço: Av. Brasil, Maranguape I, Paulista - PE</p>
    <p>Dúvidas:<a href="mailto:simplificada.saude@paulista.pe.gov.br" style="text-decoration: none; margin-left: 4px; color: #fff;">simplificada.saude@paulista.pe.gov.br</a></p>
  </div>
  <div style="
          font-size: 0.8rem;
          border-top: 1px solid #fff;
          padding-top: 10px;
          margin-top: 20px;
          ">
      <p>
        <img src="/images/sectilogo.png" alt="" width="200px" />
        <h3 style="font-weight: 300">Secretaria Execultiva de Ciência, Tecnologia e Inovação
        </h3>
        &copy; 2025 Prefeitura Municipal de Paulista - Todos os direitos
        reservados.
      </p>
    </div>
  </footer>
</body>
</html>
