<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--ICON-->
    <link rel="icon" href="/images/favoicon.png" type="image/x-icon" />
    <!--STYLES-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css" />
    <!--FONTE-->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <!--SCRIPTS-->
    <script src="/utils/apiCep.js" defer></script>
    <script src="/utils/script.js" defer></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <title>Inscrição Simplificada 2025</title>
  </head>
  <body>
    <header class="header">
      <div class="sub-header">
        <img src="/images/logoprefeitura.png" alt="" width="300px" style="margin-bottom: 10px;" />
        <h1 style="font-weight: 400">
          Secretaria Municipal de Saúde<br />Seleção Pública Simplificada Ano
          2025<br />
        </h1>
      </div>
    </header>
  </body>
</html>
